
/* Index Nav */

.navbar {
  margin-bottom: 0;
  background-color: #0096FF;
  z-index: 9999;
  border: 0;
  font-size: 12px ;
  line-height: 1.42857143;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important ;
}


.navbar-nav li a:hover, .navbar-nav .active a {
  color: #0096FF !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}


/* headings */

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}


/* Body */

body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: black;
}

.jumbotron {
  background-color: #0096FF ;
  color: #fff;
  padding: 40px 0 1px 0;
  font-family: Montserrat, sans-serif;
}


.sbcintro{

  padding-left: 530px;
}



.container-fluid {
  padding: 60px 50px;
}



.panel {
  border: 1px solid #0096FF;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}


.panel:hover {
  box-shadow: 5px 0 40px rgba(0, 0, 0, .2);
}


.panel-heading {
  color: #fff !important;
  background-color: #0096FF !important;
  padding: 5px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}



/* Footer */

footer .glyphicon {
  font-size: 20px;

  margin-bottom: 10px;
  color: #0096FF;
}

/* Panel */

.panel-footer {
  background-color: white !important;
}



.panel-footer h3 {
  color:#0096FF;
  font-size: 26px;
}

.panel-footer h4 {
  width:400px;
  background-color: grey;
}



.soc_image{
  text-align: center;

}

.facebutton{
  text-align: center;
}
